.cross {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 3%;
  width: 15%;
}
.cross img {
  width: 100%;
  cursor: pointer; cursor: hand;
}
@media (min-width: 430px) {
  .cross {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    margin: 80px;
    padding: 0;
    width: 75px;
  }
  .cross img {
    width: 100%;
    cursor: pointer; cursor: hand;
  }
}

#image-gallery {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* ---- grid ---- */

.grid {
  width: 100%;
}

/* ---- .grid-item ---- */

.grid-item {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 50%;
  height: 200px;
  display: inline-block;
  margin: 0;
  position: relative;
  z-index: 100;
}
@media (min-width: 768px) {
  .grid-item {
    width: 25%;
    height: 200px;
  }
}
@media (min-width: 1500px) {
  .grid-item {
    width: 25%;
    height: 300px;
  }
}

#image1 {
  background: url("../images/bios/01-ellie/headshot/ellie-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/01-ellie/headshot/ellie-headshot@1x.jpg") 1x, url("../images/bios/01-ellie/headshot/ellie-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image2 {
  background: url("../images/bios/02-bella-and-jo/headshot/bella-jo-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/02-bella-and-jo/headshot/bella-jo-headshot@1x.jpg") 1x, url("../images/bios/02-bella-and-jo/headshot/bella-jo-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image3 {
  background: url("../images/bios/03-eligh/headshot/eligh-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/03-eligh/headshot/eligh-headshot@1x.jpg") 1x, url("../images/bios/03-eligh/headshot/eligh-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image4 {
  background: url("../images/bios/04-elliot/headshot/elliot-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/04-elliot/headshot/elliot-headshot@1x.jpg") 1x, url("../images/bios/04-elliot/headshot/elliot-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image5 {
  background: url("../images/bios/05-alessandra/headshot/alessandra-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/05-alessandra/headshot/alessandra-headshot@1x.jpg") 1x, url("../images/bios/05-alessandra/headshot/alessandra-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image6 {
  background: url("../images/bios/06-lewis/headshot/lewis-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/06-lewis/headshot/lewis-headshot@1x.jpg") 1x, url("../images/bios/06-lewis/headshot/lewis-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image7 {
  background: url("../images/bios/07-simran/headshot/simran-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/07-simran/headshot/simran-headshot@1x.jpg") 1x, url("../images/bios/07-simran/headshot/simran-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image8 {
  background: url("../images/bios/08-rose/headshot/rose-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/08-rose/headshot/rose-headshot@1x.jpg") 1x, url("../images/bios/08-rose/headshot/rose-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image9 {
  background: url("../images/bios/09-henry/headshot/henry-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/09-henry/headshot/henry-headshot@1x.jpg") 1x, url("../images/bios/09-henry/headshot/henry-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image10 {
  background: url("../images/bios/10-jaysea/headshot/jaysea-headshot@1x.jpg");
  background: -webkit-image-set( url("../images/bios/10-jaysea/headshot/jaysea-headshot@1x.jpg") 1x, url("../images/bios/10-jaysea/headshot/jaysea-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image11 {
  background: url("../images/bios/11-extras/extra-image-1@1x.jpg");
  background: -webkit-image-set( url("../images/bios/11-extras/extra-image-1@1x.jpg") 1x, url("../images/bios/11-extras/extra-image-1@2x.jpg") 2x );
  background-size: cover;
}
#image12 {
  background: url("../images/bios/11-extras/extra-image-2@1x.jpg");
  background: -webkit-image-set( url("../images/bios/11-extras/extra-image-2@1x.jpg") 1x, url("../images/bios/11-extras/extra-image-2@2x.jpg") 2x );
  background-size: cover;
}

.image-rollover { display: none; }

@media (min-width: 768px) {
  .image-rollover {
    display: block;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding-bottom: 5%;
  }
  .image-rollover:hover {
    opacity: 1 !important;
    cursor: pointer; cursor: hand;
  }

  .image-rollover .title {
    font-size: 18px;
    line-height: 36px;
  }
}

/* ---- carousel ---- */

#carousel.container {
  display: none;
  width: 100%;
  padding: 0;
  position: inline;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    z-index: 0;
}

.carousel-inner > .item {
  width: 100%;
  /*height: 800px;*/
}

img.left-arrow {
  height: 150px;
}
img.right-arrow {
  height: 150px;
}

@media (min-width: 430px) {
  #carousel.container {
    display: none;
    width: 100%;
    padding: 0;
    position: absolute;
      top: 0;
      left: 0;
    z-index: 0;
  }
  .carousel-inner > .item {
    width: 100%;
    height: 500px;
  }
  img.left-arrow {
    height: 300px;
  }
  img.right-arrow {
    height: 300px;
  }
}
