<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Generation Z</title>

    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/desktop.css" rel="stylesheet">

    <script src="//use.typekit.net/qtr4gez.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">seymourpowell</a>
        </div>
      </div>
    </nav>

    <div class="container" id="title-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="probe-image" src="images/future-probe.svg"/>
            <p>Future Probe :</p>
            <h1>GENERATION Z</h1>
            <btn class="watch-video">Watch Video</btn>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="yellow-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <btn class="read-report">Read Report</btn>
          <h3> A DRAMATICALLY DIFFERENT BREED OF CONSUMER IS ON THE HORIZON.  UNENCUMBERED BY THE DRAG ANCHOR OF THE PAST, AND
            EMPOWERED BY RAPIDLY ADVANCING TECHNOLOGY, THEY WILL FORGE A RADICALLY ALTERED NEW WORLD.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <p> Design and innovation consultancy Seymourpowell carried out a qualitative study to get under the skin of Gen Z,
            an extraordinary new generation. We spent time with influential members of Gen Z leading progressive lifestyles to
            illuminate the cultural shifts that they are creating, as the attitudes and behaviours they are forming today will
            influence the future consumer landscapes of tomorrow. These cards are a snap shot of our findings.
          </p>
        </div>
        <div class="col-md-3 col-md-offset-1" id="download-box">
          <p>fadisofhiadosfhudsaf fhuadsfhauisd fdsah fiuashfiuasdhfihf iasdiuh ashjklfhasdh fdsau</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>MEET THE PARTICIPANTS</h3>
          <img class="down-arrow" src="images/down_arrow.svg">
        </div>
      </div>
    </div>

    <div class="container" id="blank-container">

    </div>

    <div class="container" id="yellow-container">
      <div class="row">
        <div class="col-md-12">
          <h3>WHAT WE LEARNED</h3>
          <img class="down-arrow" src="images/down_arrow.svg">
        </div>
      </div>
    </div>

    <div id="image-container" class="card1">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-7">
              <p class="statement">"I just hope people are going to think this was the generation of entrepeneurs"</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <p class="source">
                Henry, 10 years old<br>
                Entrepeneur & Author<br>
                NOT BEFORE TEA
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>GENERATION ENTREPENEUR<h2>
          <p>For Gen Z, global financial instability is a mundane  day-to-day reality and they have little expectation of opportunities being provided by others. Instead, they are highly proactive and entrepreneurial, using the proliferation of affordable online platforms to make their own opportunities.<p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card2">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <p class="statement">"The number of stay at home dads* is now 7.5 the amount it was in 1989"</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="source">Pew research centre<br>
                *With the primary purpose being to care for their home and family.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>SHIFTING GENDER NORMS<h2>
          <p>Raised increasingly in households where both  parents take an active day-to-day role in child  care, Gen Z are being released from the gender stereotypes of the past. Instead they are choosing to define themselves through their passions.<p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card3">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-7">
              <p class="statement">In 2012, there were 14 billion devices connected to the internet. Cisco Predicted that there will be 50 billion in 2020.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>INTERTWINED WORLDS<h2>
          <p>Gen Z are coming of age in an era of rapidly advancing technology. Having little memory of a world without high-speed connectivity and gestural interfaces, Gen Z are true digital natives. Maturing as The Internet of Things expands, they will expect the real and virtual worlds to work together in a seamless way.<p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card4">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <p class="statement">“There’s no real challenge in day-to-day life now I find. Intellectually, sure, like at school and stuff, I like learning and everything. But physically we don’t really exert ourselves any more that much and especially with all the technology”</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="source">
                Lewis, 16 years old,<br>
                EXTREME CHALLENGER,<br>
                GUINNESS WORLD RECORD HOLDER
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>EMBRACING EXTREMES<h2>
          <p>While Gen Z are highly appreciative of the global connectivity afforded to them since birth, they are now starting to recognise its downside. They feel they have less to discover than those who have gone before them. This ‘adventure deficit’ is pushing them to take on extreme challenges from an early age; whether that be by setting global records, or developing innovative new technologies. This points towards a future where flourishing brands will be those that can quench the consumer thirst for adventure.<p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card5">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-7">
              <p class="statement">Generation Z are 50% more likely to care anout making an impact on the world through their work than their millenial counterparts did at the same age</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <p class="source">Times Magazine</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>PRO-ACTIVATELY EMPATHETIC<h2>
          <p>Widespread connectivity has exposed Gen Z to a broad range of global issues from an early age and is cultivating a highly empathetic generation. Citizen reportage that intimately portrays the human tragedies of environmental instability is fuelling the desire to make a positive change to the world around them.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card6">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <p class="statement">“Say one day the Internet crashed, what would I have to show for it,  all the work that I had done wouldn’t be there. So I like  to work in the real world as well”</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="source">
                Ellie, 16 years old,<br>
                FASHION & DIY BLOGGER,<br>
                Fashion Rhapsody
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>HOLD ON TO THE PHYSICAL<h2>
            <p>While all things digital are deeply entwined with Gen Z behaviour, they are surprisingly sceptical about purely digital experiences and are not yet willing to completely let go of the physical world. This indicates that real-world experiences will continue to be sought out and enjoyed for the foreseeable future.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card7">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-7">
              <p class="statement">By 2017, there will be 8 times as many wearable devices than there were in 2011</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <p class="source">sport and healthcare ABIRESEARCH</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>EMPOWERED HEALTHCARE<h2>
            <p>Small and more affordable sensors are granting Gen Z an unprecedented insight into the internal workings of their body. As this technology matures and connects to The Internet of Things, healthcare will become increasingly democratised and consumers will take greater individual control over their health and well-being.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card8">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <p class="statement">“It is scary that everything you do online is always going to be there. I guess it is cool to have a digital footprint but it can be dangerous at the same time.”</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="source">
                Simran, 17 years old, Crew Culture Athlete,<br>
                RUNDEMCREW Youngers
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>PRIVACY TIGHTROPE<h2>
            <p>Hype surrounding data privacy is proving to be a formative influence on Gen Z. Learning from infamous Millennial mistakes and being constantly surrounded by a barrage of controversial news stories, such as the Edward Snowden NSA revelations, is creating a highly wary consumer group. Expect Gen Z to be even more cautious over how their data is stored and used than any previous generation.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card9">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-7">
              <p class="statement">Today, there are 18 times more photos uploaded daily to these platforms than in 2009</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <p class="source">KPCB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>CREATIVE COMMUNICATORS<h2>
            <p>The affordability of digital imaging, and the swell  of online platforms such as Instagram, Pinterest and Snapchat, are conditioning Gen Z to communicate in a highly visual way. This behaviour suggests a future where topline, intuitive information-sharing is the expected norm.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card10">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-7">
              <p class="statement">“It’s a bit of a personal invasion sometimes... there’s not one place on the internet that you can go where somebody isn’t trying to sell you something or trying to get you to do something or sign up to something’’</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <p class="source">
                Rose, 17 years old,<br>
                FASHION & DIY BLOGGER,<br>
                Fashion Rhapsody
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>MARKETING WITH ETIQUETTE<h2>
            <p>One of the first rules of marketing is to ‘travel to where your consumer is’. However, emerging technology has meant that brands can now reach their target audience 24 hours a day, resulting in Gen Z feeling bombarded by brand messaging. In tomorrow’s consumer landscape, care will need to be taken to observe social etiquette, to ensure that messages are targeted and relevant rather than a personal invasion.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card11">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <p class="statement">The price of diy computers has dropped by 94% since 1990.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="source">*Compare price from raspberrypi site and wikipedia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-12">
          <h2>OPEN-ENDED TECHNOLOGY<h2>
            <p>Both the affordability of coding equipment and the accessibility of coding tuition is creating a highly tech-literate generation, who no longer view their products as close-ended solutions. Instead, Gen Z are delving under the surface of their products and customising them to suit their personal needs  and requirements.</p>
        </div>
      </div>
    </div>

    <div id="image-container" class="card12">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <p class="statement">
                “I think our generation will be defined by technology ...
                I want our generation to be remembered as it’s almost we discovered a power which is technology but
                we used it well”
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="source">
                Eligh, 16 years old,<br>
                GAMER & DEVELOPER
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="card-description">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>SUPER POWER TECH<h2>
            <p>Gen Z are highly self-aware and recognise that they will be defined by technology. Citing it as a super power to which they are privy, they wish to be remembered for using it well. They are beginning to look down on technology put to frivolous use as a wasted opportunity.</p>
        </div>
      </div>
    </div>

  </body>

</html>
