<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Generation Z</title>

    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <script src="//use.typekit.net/qtr4gez.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">seymourpowell</a>
        </div>
      </div>
    </nav>

    <div class="container" id="title-container">
      <div class="container">
        <img class="probe-image" src="images/future-probe.svg"/>
        <p>Future Probe :</p>
        <h1>GENERATION Z</h1>
        <btn class="watch-video">Watch Video</btn>
      </div>
    </div>

    <div class="container" id="yellow-container">
      <btn class="read-report">Read Report</btn>
      <h3> A DRAMATICALLY DIFFERENT BREED OF CONSUMER IS ON THE HORIZON.  UNENCUMBERED BY THE DRAG ANCHOR OF THE PAST, AND
        EMPOWERED BY RAPIDLY ADVANCING TECHNOLOGY, THEY WILL FORGE A RADICALLY ALTERED NEW WORLD.
      </h3>
      <p> Design and innovation consultancy Seymourpowell carried out a qualitative study to get under the skin of Gen Z,
        an extraordinary new generation. We spent time with influential members of Gen Z leading progressive lifestyles to
        illuminate the cultural shifts that they are creating, as the attitudes and behaviours they are forming today will
        influence the future consumer landscapes of tomorrow. These cards are a snap shot of our findings.
      </p>
      <h3>MEET THE PARTICIPANTS</h3>
      <img class="down-arrow" src="images/down_arrow.svg">
    </div>

    <div class="container" id="blank-container">

    </div>

    <div class="container" id="yellow-container">
      <h3>WHAT WE LEARNED</h3>
      <img class="down-arrow" src="images/down_arrow.svg">
    </div>

    <div id="image-container" class="card1">
      <div class="container" id="textbox-right">
        <div class="quote">
          "I just hope people are going to think this was the generation of entrepeneurs"
        </div>
        <div class="source">
          Henry, 10 years old<br>
          Entrepeneur & Author<br>
          NOT BEFORE TEA
        </div>
      </div>
    </div>

    <div class="container" id="card-description">
      <h2>GENERATION ENTREPENEUR<h2>
      <p>For Gen Z, global financial instability is a mundane  day-to-day reality and they have little expectation of opportunities being provided by others. Instead, they are highly proactive and entrepreneurial, using the proliferation of affordable online platforms to make their own opportunities.<p>
    </div>

    <div id="image-container" class="card2">
      <div class="container" id="textbox-left">
        <div class="quote">
          "The number of stay at home dads* is now 7.5 the amount it was in 1989"
        </div>
        <div class="source">
          Pew research centre<br>
          *With the primary purpose being to care for their home and family.
        </div>
      </div>
    </div>

    <div class="container" id="card-description">
      <h2>SHIFTING GENDER NORMS<h2>
      <p>Raised increasingly in households where both  parents take an active day-to-day role in child  care, Gen Z are being released from the gender stereotypes of the past. Instead they are choosing to define themselves through their passions.<p>
    </div>

  </body>

</html>
