#image-gallery {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* ---- grid ---- */

.grid {
  max-width: 100%;
  position: absolute;
    top: 0;
    left: 0;
  z-index: 100;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  height: 220px;
}
@media (max-width: 768px) {
  .grid-item {
    height: 100px;
  }
}
@media (min-width: 2000px) {
  .grid-item {
    height: 350px;
  }
}

.cross {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 50px;
}
.cross img {
  width: 80%;
  cursor: pointer; cursor: hand;
}

#image1 {
  background: -webkit-image-set( url("../images/bios/01-ellie/headshot/ellie-headshot@1x.jpg") 1x, url("../images/bios/01-ellie/headshot/ellie-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image2 {
  background: -webkit-image-set( url("../images/bios/02-bella-and-jo/headshot/bella-jo-headshot@1x.jpg") 1x, url("../images/bios/02-bella-and-jo/headshot/bella-jo-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image3 {
  background: -webkit-image-set( url("../images/bios/03-eligh/headshot/eligh-headshot@1x.jpg") 1x, url("../images/bios/03-eligh/headshot/eligh-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image4 {
  background: -webkit-image-set( url("../images/bios/04-elliot/headshot/elliot-headshot@1x.jpg") 1x, url("../images/bios/04-elliot/headshot/elliot-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image5 {
  background: -webkit-image-set( url("../images/bios/05-alessandra/headshot/alessandra-headshot@1x.jpg") 1x, url("../images/bios/05-alessandra/headshot/alessandra-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image6 {
  background: -webkit-image-set( url("../images/bios/06-lewis/headshot/lewis-headshot@1x.jpg") 1x, url("../images/bios/06-lewis/headshot/lewis-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image7 {
  background: -webkit-image-set( url("../images/bios/07-simran/headshot/simran-headshot@1x.jpg") 1x, url("../images/bios/07-simran/headshot/simran-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image8 {
  background: -webkit-image-set( url("../images/bios/08-rose/headshot/rose-headshot@1x.jpg") 1x, url("../images/bios/08-rose/headshot/rose-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image9 {
  background: -webkit-image-set( url("../images/bios/09-henry/headshot/henry-headshot@1x.jpg") 1x, url("../images/bios/09-henry/headshot/henry-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image10 {
  background: -webkit-image-set( url("../images/bios/10-jaysea/headshot/jaysea-headshot@1x.jpg") 1x, url("../images/bios/10-jaysea/headshot/jaysea-headshot@2x.jpg") 2x );
  background-size: cover;
}
#image11 {
  background: -webkit-image-set( url("../images/bios/11-extras/extra-image-1@1x.jpg") 1x, url("../images/bios/11-extras/extra-image-1@2x.jpg") 2x );
  background-size: cover;
}
#image12 {
  background: -webkit-image-set( url("../images/bios/11-extras/extra-image-2@1x.jpg") 1x, url("../images/bios/11-extras/extra-image-2@2x.jpg") 2x );
  background-size: cover;
}

.image-rollover {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding-bottom: 5%;
}

.image-rollover:hover {
  opacity: 1;
  cursor: pointer; cursor: hand;
}

.image-rollover .title {
  font-size: 18px;
  line-height: 36px;
}

.image-rollover .info {

}

/* ---- carousel ---- */

#carousel.container { display: none; }

@media (min-width: 768px) {
  #carousel.container {
    display: inline;
    width: 100%;
    padding: 0;
    position: absolute;
      top: 0;
      left: 0;
    z-index: 0;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  img.left-arrow {
    height: 300px;
  }
  img.right-arrow {
    height: 300px;
  }
}
