.navbar {
    background: black;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.navbar-brand {
  font-size: 25px;
}

#blank-container {
  height: 500px;
  background-color: pink;
}

#yellow-container {
  padding: 40px;
  background-color: #FAC421;
  text-align: center;
}

#yellow-container h3 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

#yellow-container p {
  font-size: 15px;
  font-weight: 3;
  line-height: 30px;
  margin: 50px 0 50px 0;
  text-align: left;
}

.down-arrow {
  width: 140px;
  margin: 20px;
}

 #image-container {
  height: 320px;
  padding: 40px;
  color: white;
  position: relative;
}

#image-container #textbox-right {
  position: absolute;
    bottom: 20px;
    right: 40px;
  padding: 0;
}

#image-container #textbox-left {
  position: absolute;
    bottom: 20px;
    left: 40px;
  padding: 0;
}

#image-container #textbox-right div {
  text-align: right;
  margin-top: 10px;
  float: right;
}

#image-container #textbox-left div {
  text-align: left;
  margin-top: 10px;
  float: left;
}

#image-container .quote {
  font-size: 15px;
  width: 80%;
}

#image-container .source {
  font-size: 11px;
  width: 50%;
}

#image-container.card1 {
  background: url("../images/01-generation-entrepreneur.jpg") no-repeat center;
  background-size: auto 100%;
}

#card-description {
 padding: 40px;
 text-align: center;
}

#card-description h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#card-description p {
  font-size: 18px;
  line-height: 24px;
}

#image-container.card2 {
  background-color: #46A9AD;
  background-image: url("../images/02_shifting_gender_norms.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
